<!doctype html>
<html lang="en">
  <head>
    <title>Shopify Image Optimizer</title>
    <!-- <script src="/lib/dist/batman.js"></script>
    <script src="/lib/es5-shim.js"></script>
    <script src="/lib/app.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
  </head>
  <body onload="updateValues()">
  <div data-yield="main"></div>
  <div data-defineview="images/index">
  <div class="header">
    <a class="logo" href="#">Shopify Image Optimizer</a>
  </div>

    {% if products %}

      <ul>
        <li>Steps 1 and 3 haven't been fully implemented yet. Step 2 is complete.</li>
      </ul>
      <hr>

      <ul>
        {% for product in products %}
            <li>
            <p><h3>{{ product.title }}</h3></p>
          {% for image in product.images %}
            <img src={{ image.src }} height="200px" />
            <form action="/updateProduct" method="post">
              <input type="hidden" name="product_id" value="{{ product.id }}" />
              <p>1) Make your image name descriptive</p>
              <input type="text" name="filename" class="filename" size="100" value="{{ image.src }}" readonly/>
              <p>2) Make your alt tag descriptive (it is also your image titlte)</p>
              <input type="text" name="alt-tag" class="alt-tag" size="100" value="{{ product.title }}" />
              <p>3) Convert your image to JPEG</p>
              <input type="text" name="extension" class="extension" size="100" value="{{ image.src }}" readonly/><br />
              <p><input type="submit" /></p>
            </form>

          {% endfor %}
          </li>
            <hr>
          {% endfor %}
        </ul>

      {% else %}

        <li><p>An image optimizer for your Shopify store images to help you get better search engine optimization and faster loading times. Based on <a href="http://www.shopify.com/blog/7412852-10-must-know-image-optimization-tips#axzz2OI5g6CLB">this Shopify article</a></p><li>
        </ul>
        <hr>

        <ul><li>
          <form action="/" method="post">
            What is your shop name? 
            <input type="text" name="shopName" />
            <input type="submit" />
          </form>  
        </li></ul>

      {% endif%}
    </div>
    <script type="text/javascript">
    function updateValues() {
      $(".extension").each(function() {
        var url = $(this).val();
        var pattern  = /.+\.([^?]+)(\?|$)/
        extension = url.match(pattern)[1];
        $(this).val(extension);
      });

      $(".filename").each(function() {
        var url = $(this).val();
        var pattern  = /([\w\d_-]*)\.?[^\\\/]*$/i
        filename = url.match(pattern)[1];
        $(this).val(filename);
      });
    }
    </script>
    </body>
  </html>
    
